node_modules/
yarn-error.log/
vendor/
tmp/
dist/
.DS_Store
.idea
tmp-resolvers
package-lock.json
yarn.lock
yarn-error.log
misc/**/migrations/
experimental/**/*.db
.next
.vscode/
.nuxt
dev.db
*.env*
!.env.example
coverage/